.container_emphasis{
	background-color: #C4ECF6
	!important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #2A5982
	!important;
}
.navbar-brand{
	color:#2A5982
	!important;
}
h3{
	color:#2A5982
	!important;
}
.carousel-caption{
	text-shadow: 0 1px 2px rgba(225, 225, 225, 0.6)
	!important;
	color:#ffffff
	position: absolute
	!important;
	text-align: left
	!important;
	bottom: 120px
	!important;
}
.footer_text{
	font-size: 10px;
}
}
a:link {color:#2a5982;}      /* unvisited link */
a:visited {color:#2a5982;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#FF00FF;}  /* selected link */

